#shop{
    width: 70%;
    margin: 70px auto;
}

.container-shop{
    display: flex;
    gap: 80px;
}

.checkbox{
    width: 15px;
    height: 15px;
    margin-right: 20px;
}

label{
    font-size: 15px;
}

.shop-product-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.shop-product-list li{
    flex: 1 1 calc(33% - 20px);
}

.shop-product-list li img{
    height: 350px;
}

.product-content{
    margin-top: 30px ;
    text-align: center;
}

/* Overlay on product */
.shop-product-img {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.overlay-shop-product {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.118);
    opacity: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: opacity 0.3s ease-in-out;
}

.shop-product-item:hover .overlay-shop-product {
    opacity: 1;
}

.fav-cart{
    display: flex;
    gap: 10px;
}

.fav-cart li {
    background-color: #fff;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.next-previous-btns button{
    border: none;
    background-color: transparent;
}